[submodule "plugins/simple_footnotes"]
	path = plugins/simple_footnotes
	url = https://github.com/pelican-plugins/simple-footnotes
[submodule "plugins/render_math"]
	path = plugins/render_math
	url = https://github.com/pelican-plugins/render-math
[submodule "plugins/sitemap"]
	path = plugins/sitemap
	url = https://github.com/pelican-plugins/sitemap
[submodule "theme/Flex"]
	path = theme/Flex
	url = https://github.com/reisub0/Flex
